# Laravel
/vendor/

/public/storage
/storage/*.key

Homestead.json
Homestead.yaml

# Laravel IDE Helper
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# Laravel Log Files
/storage/logs/*.log

# Laravel Cache
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# NPM / Yarn dependencies

/yarn.lock
/package-lock.json

# Vite (Vue.js Build)


# Testing
/phpunit.result.cache

# IDE & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Composer
/vendor/
/composer.lock

# Git
*.orig

.vercel
